src/flows/Automated_Case_Creation-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Email_Id</name>
        <label>Assign Email Id</label>
        <locationX>222</locationX>
        <locationY>116</locationY>
        <assignmentItems>
            <assignToReference>Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entered_Email_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_LookUp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Fields</name>
        <label>Assign Lead Fields</label>
        <locationX>566</locationX>
        <locationY>730</locationY>
        <assignmentItems>
            <assignToReference>ContactName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Lead_First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Phone_number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ContactExists</name>
        <label>ContactExists?</label>
        <locationX>227</locationX>
        <locationY>322</locationY>
        <defaultConnector>
            <targetReference>Lead_Capture_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact</defaultConnectorLabel>
        <rules>
            <name>Found_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_LookUp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case</targetReference>
            </connector>
            <label>Found Contact</label>
        </rules>
    </decisions>
    <label>Automated Case Creation</label>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>139</locationX>
        <locationY>731</locationY>
        <assignRecordIdToReference>CaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Case_Successfully_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>ContactAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedName</field>
            <value>
                <elementReference>ContactName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedPhone</field>
            <value>
                <elementReference>ContactPhone</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Lead_Record</name>
        <label>Create Lead Record</label>
        <locationX>660</locationX>
        <locationY>508</locationY>
        <assignRecordIdToReference>CreatedLeadID</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Lead_Fields</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Lead_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Lead_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Lead_Phone_number</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>Contact_LookUp</name>
        <label>Contact LookUp</label>
        <locationX>225</locationX>
        <locationY>215</locationY>
        <connector>
            <targetReference>ContactExists</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Entered_Email_Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactPhone</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Case_Successfully_Created</name>
        <label>Case Successfully Created</label>
        <locationX>139</locationX>
        <locationY>935</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <fields>
            <name>fCaseSuccessfullyCreated</name>
            <fieldText>The Case has been sucessfully Created for the Following :

Case Id :{!CaseId}

Name : {!ContactName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Enter_Email_Id</name>
        <label>Enter Email Id</label>
        <locationX>223</locationX>
        <locationY>13</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Assign_Email_Id</targetReference>
        </connector>
        <fields>
            <name>Entered_Email_Id</name>
            <dataType>String</dataType>
            <fieldText>Entered Email Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Lead_Capture_Screen</name>
        <label>Lead Capture Screen</label>
        <locationX>352</locationX>
        <locationY>508</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Create_Lead_Record</targetReference>
        </connector>
        <fields>
            <name>LeadCaptureLeader</name>
            <fieldText>This Email Id Specified - {!Email} doesnt exist in System.

Register fast with these details.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Lead_First_Name</name>
            <dataType>String</dataType>
            <fieldText>Lead First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Lead_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Lead Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email_Id</name>
            <dataType>String</dataType>
            <fieldText>Lead Email Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Company_Name</name>
            <dataType>String</dataType>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Lead_Phone_number</name>
            <dataType>String</dataType>
            <fieldText>Lead Phone number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>Enter_Email_Id</startElementReference>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactAccountId</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactName</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactPhone</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreatedLeadID</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
