src/flows/Create_Case-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>IT</name>
        <choiceText>IT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IT</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mechanical</name>
        <choiceText>Mechanical</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mechanical</stringValue>
        </value>
    </choices>
    <choices>
        <name>Telecom</name>
        <choiceText>Telecom</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Telecom</stringValue>
        </value>
    </choices>
    <label>Create Case</label>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>228</locationX>
        <locationY>365</locationY>
        <assignRecordIdToReference>CaseID</assignRecordIdToReference>
        <connector>
            <targetReference>Display_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedName</field>
            <value>
                <elementReference>LeadName</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Lead_Look_Up</name>
        <label>Lead Look Up</label>
        <locationX>222</locationX>
        <locationY>234</locationY>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>Description</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Display_Case</name>
        <label>Display Case</label>
        <locationX>234</locationX>
        <locationY>516</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <fields>
            <name>CaseCreatedScreen</name>
            <fieldText>“Congrats you have successfully created a case :
Case ID : {!CaseID}

Name : {!LeadName} 

Email: {!Email}

Description: {!Description}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Lead_Look_Up</startElementReference>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Description</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadCity</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadName</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
